.navbar {
    background: black;
}

.navbar-brand {
    margin-left: 30px;
}

.btn-warning {
    font-weight: bold;
    margin-right: 30px;
}

body {
  background-image: url("https://media.istockphoto.com/id/1354982067/es/vector/cielo-estrellado-fondo-nocturno-negro-con-estrella-espacio-de-galaxia-estrellada-textura-de.jpg?s=612x612&w=0&k=20&c=hXBS72dkHQbFKqu5MYZfnd41ZNxisgnvCVqffoXfqgs=");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.translucent-card {
  background-color: rgba(54, 54, 54, 0.7);
}

.card {
  color: white;
  width: 18rem;
  border-radius: 10px;
}

.btn-outline-warning.align-self-end {
    margin-left: auto;
}

.browse {
    color: rgb(160, 160, 160);
    font-size: 15px;
}

.title {
  margin-bottom: 10px;
}

.section {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px;
  margin-top: 40px;
}

.content {
  display: flex;
  flex-wrap: nowrap;
}

.content-container {
  overflow-x: auto;
  white-space: nowrap;
}

.content > * {
  margin-right: 10px;
  flex-shrink: 0;
}

.title-characters,
.title-planets,
.title-starships {
  color: #FFCA2C;
}

.principal {
  margin-left: 30px;
}

